.button {
    margin: 20px;
    background: rgba(146, 190, 255, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: double;
    border-color: rgba(170, 146, 255, 0.7);
}

.button:hover {
    background: rgba(86, 144, 211, 0.5);
}

.button:active {
    background: rgba(94, 94, 94, 0.5);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}