.status {
    margin-left: 20vw;
    margin-right: 20vw;
    background: rgba(146, 172, 255, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: double;
    border-color: rgba(170, 146, 255, 0.7);
}